*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
docs/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.rbx/
.rspec
bin/
vendor/ruby/
vendor.noindex/ruby/
.DS_Store
.ruby-version
